@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --bg-color: #fff;
  --text-color: #111111;
  --primary-color: #2563eb;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.dark{
  --bg-color: #111111;
  --text-color: #f5f5f5;
  --primary-color: #60a5fa;
}
a{
  color: var(--text-color);
}

body{
  background-color: var(--bg-color);
  color: var(--text-color);
}