@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  font-family: Manrope,sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --bg-color: #ffffff;
  --text-color: #111111;
  --primary-color: #2563eb;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  font-family: 'Manrope', sans-serif;
}
body.dark{
  --bg-color: #111111;
  --text-color: #f5f5f5;
  --primary-color: #60a5fa;
}
a{
  color: var(--text-color);
}
a:hover{
  opacity: .5;
  transition: opacity .2s ease;
}

body{
  background-color: var(--bg-color);
  color: var(--text-color);
}